body {
    margin: 0 auto
}
html {
    box-sizing: border-box;
}
.App {
  text-align: center;
}
:root {
    --matNum: 2;
}

.content {
    width: 70%;
    margin: 0 auto;
    display: flex;
}
.score { 
    width: 150px;
    height: 200px;
    text-decoration-style: solid;
    border: 3px gray solid
}



