body {
    margin: 0
}
html {
    box-sizing: border-box;
}
.App {
  text-align: center;
}

.wrapper {
    width: 260px;
    height: 260px;
    margin: 0 auto;
}
.inner {
    display: flex;
    flex-wrap: wrap;
    border: 8px solid #ccc;
    height: 100%;
}

.cell {
    background-color: #490A3D;
    border-radius: 15px;
    color: #fff;
    flex: 1 1 100px;
    margin:5px;
}

.cell h2 {
    margin:0;
    padding: 40px;
}