body {
    margin: 0 auto
}
html {
    box-sizing: border-box;
}
.App {
  text-align: center;
}
:root {
    --matNum: 2;
    --gridHeight: 120px;
    --wrapperH: 40px;
}

.content {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.border {
    border: 2px red solid;
}


